[submodule "shelf-master-frontend"]
	path = shelf-master-frontend
	url = https://github.com/Mohammad-Zahran/shelf-master-frontend
[submodule "shelf-master-backend"]
	path = shelf-master-backend
	url = https://github.com/Mohammad-Zahran/shelf-master-backend
[submodule "shelf-master-mobile"]
	path = shelf-master-mobile
	url = https://github.com/Mohammad-Zahran/shelf-master-mobile
